

.container {
    display: flex;
    align-items: center;
    height: 100vh
}

.form {
    height: 427px;
    width: 43%;
    padding: 75px 25px 75px 25px;


    border-radius: 16px;
    opacity: 0.9;
    background: #F3F3FC;
    box-shadow: 2px 2px 2px 0px #F3F3FC;
    backdrop-filter: blur(4px);



    .inputs_div {

        display: flex;
        flex-direction: column;
        width: 100%;
        margin-inline: auto;

        &.mt {
            margin-bottom: 32px;
        }


        .input {

            border: none;
            outline: none;
            border-bottom: 2px solid #ADABED;
            font-size: 12px;
            line-height: 16px;
            padding: 16px 12px;
            background: none;


            &::placeholder {
                color: #7976CF;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.7px;
            }
        }
    }

    button {
        width: 100%;
        margin-top: 64px;
        border-radius: 100px;
        background: #8582E4;
        outline: none;
        border: none;
        padding-block: 16px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        color : #FFF;
    }

}