

/* Table container styles */
.table-container {
    width: 1080px;
    margin: 0 auto;
    font-size: 12px;
    
    /* Table styles */
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

     /* Table header styles */
    .table-header {
    background-color: #8582E4;
    color: white;
    font-weight: bold;
    height: 64px;
    }

    /* Table row styles */
    .table-row {
    height: 64px;
    padding: 10px;
    border-bottom: 1px solid #8582E4;
    text-align: left;
    


    td {
        // padding: 10px;
        background-color: #F3F3FC;
    }

     /* Status circle styles */
      .status {
        display: flex;
        border-radius: 20px;
        background-color: green;
      }
    }
  }

}
 
  
  