#header{
    width: 100;
    margin-left: auto;
    padding-block: 24px;

    .block{
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;
        column-gap: 16px;
    }

}