.inp_search {
    border-radius: 16px;
    border:  1px solid #7976CF;
    width: 340px;
    height: 40px;
    margin-top: 20px;
    padding-left: 20px;
    color: #929292;
    position: relative;
}
.iconn{
    position: absolute;
    color: #7976CF;
}